<a [routerLink]="['/registro']">Guardar</a><br>

<a [routerLink]="['/borrar']">Borrar</a>



<form class="form" [formGroup]="consultaForm" (ngSubmit)="onSubmit()">
    <label for="busqueda">Consulta</label>
    <input id="busqueda" formControlName="param">



    <button type="submit" [disabled]="consultaForm.invalid">Buscar</button>

</form>

<table>
    <caption>Lista de Empleados</caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>CURP</th>
            <th>Teléfono</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellidoPaterno}}</td>
            <td>{{empleado.apellidoMaterno}}</td>
            <td>{{empleado.curp}}</td>
            <td>{{empleado.telefono}}</td>
        </tr>
    </tbody>
</table>